<div class="bg-container">
  <header class="cabecalho">
    <a routerLink="/memorygame-login">
      <img src="/img/esquerda.svg" class="botao-voltar">
    </a>

    <img src="/img/logo.svg" class="logo">

    <button #botaoSom class="botao-som">
      <i class="fa-solid fa-volume-high"></i>
    </button>
  </header>

  <main>
    <div class="grid"></div>
  </main>

  <footer>
    © Corn Coincs — Todos os direitos reservados.
  </footer>

  <audio #musicaFundo loop autoplay>
    <source src="/sound/Music_fx_relaxing_ukulele_chill_steven_univer.wav" type="audio/wav">
  </audio>
</div>
