<div class="bg-container">
<header class="cabecalho">
    <a routerLink="/missoes">
      <img src="/img/esquerda.svg" class="botao-voltar" alt="">
    </a>

    <img src="/img/logo.svg" class="logo">

    <button class="botao-som" id="botaoSom">
      <i class="fa-solid fa-volume-high"></i>
    </button>
  </header>

  <main>

    <div id="forms"></div>
    <form class="register-form"> <!-- Se quiser colocar um logo aqui futuramente -->
      <h1 class="title">Jogo da Memória</h1> 
      <br>
    
      <a routerLink="/memorygame"  class="btn-register">Jogar</a>
    </form>
  </main>

  <audio id="musicaFundo" loop autoplay>
    <source src="/sound/Music_fx_relaxing_ukulele_chill_steven_univer.wav" type="audio/wav">
  </audio>

  <footer>
    © Corn Coincs — Todos os direitos reservados.
  </footer>
     
</div>