<div class="bg-container">
<header>
  <nav class="nav">
    <a routerLink="/menu" >
      <img src="/img/esquerda.svg" class="back-button" alt="Voltar para o menu">
    </a>

    <button class="botao-som" (click)="toggleSound(!isSoundOn)">
      <i [class]="isSoundOn ? 'fa-solid fa-volume-high' : 'fa-solid fa-volume-xmark'"></i>
    </button>       
</nav>

</header>

<main class="conteudo-principal">
  <div class="painel">
    <img src="/img/logo.svg" id="logo" alt="Logo Corn Coincs">
   
    <div class="container-apps">
      <a id="game1" routerLink="/memorygame-login" class="card-app">

      </a>
      <a id="game2" class="card-app">
      </a>
       <a id="game3" class="card-app">
      </a>
    </div>
  </div>
</main>

<footer class="rodape">
  © Corn Coincs — Todos os direitos reservados.
</footer>

<audio id="musicaFundo" loop>
  <source src="sound/Music_fx_faa_uma_musica_instrumental_para_um.wav" type="audio/wav">
  Seu navegador não suporta o elemento de áudio.
</audio>
</div>