/* --- VARIÁVEIS --- */
:root {
  --cor-fundo: #87ceeb;
  --cor-texto: #fff;
}

.bg-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('/img/background-3.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  cursor: url('/img/pointer.png'), auto;
  font-family: "Mochiy Pop P One", sans-serif;
}

/* --- HEADER --- */
.cabecalho {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
}

.botao-som {
  font-size: 50px;
  align-self: flex-end;
  background: none;
  border: none;
  color: #c92c2c;
  padding: 20px;
  cursor: pointer;
}


/* Botão de voltar no canto */
.botao-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  cursor: pointer;
  z-index: 100;
}


/* --- MAIN --- */

#logo {
  width: 350px;
  margin-bottom: 30px;
}

.conteudo-principal {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.painel {
  text-align: center;
  color: var(--cor-texto);
}

/* Título e subtítulo */
.titulo {
  font-size: clamp(1.8rem, 4vw, 3rem);
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 10px;
  animation: aparecer 0.8s ease forwards;
}

.subtitulo {
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  animation: aparecer 1s ease forwards;
}

/* ==========================
   CARTÕES DE APPS (SEU ESTILO)
   ========================== */

/* Container dos apps */
.container-apps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* Cards */
.card-app {
  background: red;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: transform .3s, background .3s;
  animation: aparecer 0.7s ease forwards;
  box-shadow: #065d00 5px 10px;
}

#MG {
  background-image: url(../../../../public/img/MemoryGame-Banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-app:hover {
  transform: translateY(-10px) scale(1.05);
  background: #ff6060;
}

/* Animação de entrada */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- FOOTER --- */
.rodape {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  background: #82C45D;
  backdrop-filter: blur(5px);
 font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* --- RESPONSIVO --- */
@media (max-width: 480px) {
  .card-app {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
}