<div class="bg-container">
<!-- BOTÃO VOLTAR -->
 <header class="cabecalho">
    <a routerLink="/menu">
      <img src="/img/esquerda.svg" class="botao-voltar">
    </a>
  </header>

  <!-- CONTEÚDO -->
  <main class="conteudo-principal">

    <!-- LOGO -->
    <img src="/img/logo.svg" id="logo">

    <div class="container-cards">
      

      <!-- CARD 1 - DISPONÍVEL -->
      <a href="https://www.youtube.com/watch?v=XBZ4-Di7KPY" class="card-link">
        <img src="/img/capa/EP1.png" class="card-img">
      </a>

      <!-- CARD 2 - INDISPONÍVEL -->
      <a href="https://youtu.be/3OnMhwD3WpU?si=ynTdk5TTTBNVRfcu" class="card-link">
        <img src="/img/capa/bannerMusic.png" class="card-img">
      </a>

    </div>
  </main>

  <footer class="rodape">
    © Corn Coincs — Todos os direitos reservados.
  </footer>
</div>