 <!-- BOTÃO VOLTAR -->
 <header class="cabecalho">
    <a href="menu.html">
      <img src="../../../../public/img/esquerda.svg" class="botao-voltar">
    </a>
  </header>

  <!-- CONTEÚDO -->
  <main class="conteudo-principal">

    <!-- LOGO -->
    <img src="../../../../public/img/logo.svg" id="logo">

    <div class="container-cards">
      

      <!-- CARD 1 - DISPONÍVEL -->
      <a href="https://youtu.be/qdGWhbVb-90?si=KdJ10Ud6Dcod48b7" class="card-link">
        <img src="../../../../public/img//capa/EP1.png" class="card-img">
      </a>

      <!-- CARD 2 - INDISPONÍVEL -->
      <div class="card card-indisponivel">
        indisponível
      </div>

    </div>
  </main>

  <footer class="rodape">
    © Corn Coincs — Todos os direitos reservados.
  </footer>
