<div class="bg-container">
<!-- BOTÃO VOLTAR -->
 <header class="cabecalho">
    <a routerLink="/menu">
      <img src="/img/esquerda.svg" class="botao-voltar">
    </a>
  </header>

  <!-- CONTEÚDO -->
  <main class="conteudo-principal">

    <!-- LOGO -->
    <img src="/img/logo.svg" id="logo">

    <div class="container-cards">
      

      <!-- CARD 1 - DISPONÍVEL -->
      <div class="card-link" [routerLink]="['/videoplayer']" [queryParams]="{ video: 'XBZ4-Di7KPY' }">
        <img src="/img/capa/EP1.png" class="card-img">
      </div>
      <!-- CARD 2 - INDISPONÍVEL -->
      <div class="card-link" [routerLink]="['/videoplayer']" [queryParams]="{ video: '3OnMhwD3WpU' }">
        <img src="/img/capa/bannerMusic.png" class="card-img">
      </div>


    </div>
  </main>

  <footer class="rodape">
    © Corn Coincs — Todos os direitos reservados.
  </footer>
</div>